body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: black;
  /* cursor: none; */
  /* color: #fff; */
  /* background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent) 
   background-color:rgba(12, 68, 14, 0.13); */
}

/* canvas {
  position: fixed;
  width: 100%;
  /*  opacity :0.2; s
  height: 100%;
} */

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;  /* Allow events to pass through */
  z-index: 100;           /* Place behind all other elements */
}



.cursor {
  position: fixed;
  z-index: 101;
  width: 3px;
  height: 3px;
  background: rgb(255, 251, 251);
  background-clip: content-box;
  border-radius: 50%;
  border: 1px solid rgb(255, 255, 255);
  box-sizing: content-box;
  padding: 8.5px ;
  pointer-events: none;
  transform-origin: 50% 50%;
  transition: transform 0.0s ease-out;
  /* Smooth follow effect */
}






.theme-toggle {
  position: fixed;
  z-index: 102;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background: #FCFCFD;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.theme-toggle:hover {
  transform: scale(1.1);
}

.circle {
  position: relative;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: linear-gradient(40deg, #FF0080, #FF8C00 70%);
  transition: background 0.6s ease;
}

.crescent {
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
}
body.light-mode .theme-toggle{
  background: #121212;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #323237 0 -3px 0 inset;
}
body.light-mode .circle {
  background: yellow;
}

body.light-mode .crescent {
  transform: scale(1);
  background: #121212;
}